@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: local('Oxygen'), url('https://themes.googleusercontent.com/static/fonts/oxygen/v1/eAWT4YudG0otf3rlsJD6zOvvDin1pK8aKteLpeZ5c0A.woff') format('woff');
}

.attachments td:nth-child(1),
.attachments td:nth-child(2) {
  font-family: monospace;
}

.attachments th {
  text-align: left;
}

body {
  font-family: 'Oxygen', sans-serif;
  font-size: 150%;
  margin: 1em auto;
  max-width: 46em;
}

.changes {
  font-style: italic;
  margin-left: 1em;
}

.changes .field {
  text-transform: capitalize;
}

.changes .field:after {
  content: ": ";
}

.changes .old-value:after {
  content: " → ";
}

.citation {
  border-left: solid darkred;
}

.citation > .citation {
  border-left: solid lightgreen;
}

.citation > .citation > .citation {
  border-left: solid orange;
}

header {
  background-color: lightgreen;
  border-radius: 10px;
  padding: 1em;
}

header a {
  color: black;
}

.history {
  border-spacing: 0 0;
  position: relative;
}

.history td:nth-child(1) {
  text-align: right;
}

.history td:nth-child(2) {
  font-family: monospace;
  text-align: right;
  width: 12em;
}

.history th:nth-child(2) {
  text-align: right;
}

.history th {
  font-weight: bold;
}

.history tr:nth-child(even) {
  background: #ccc;
}

.history tr a::before,
.tickets tr a::before {
  content: "";
  display: block;
  height: 1.5em;
  left: 0;
  position: absolute;
  width: 100%;
}

.metadata {
  font-style: italic;
  margin: 1em 0 1em 1em;
}

.metadata .author:before     { content: "Author: "; }
.metadata .cc:before         { content: "CC: "; }
.metadata .changetime:before { content: "Changetime: "; }
.metadata .component:before  { content: "Component: "; }
.metadata .keywords:before   { content: "Keywords: "; }
.metadata .milestone:before  { content: "Milestone: "; }
.metadata .owner:before      { content: "Owner: "; }
.metadata .priority:before   { content: "Priority: "; }
.metadata .reporter:before   { content: "Reporter: "; }
.metadata .resolution:before { content: "Resolution: "; }
.metadata .severity:before   { content: "Severity: "; }
.metadata .source:before     { content: "Source: "; }
.metadata .status:before     { content: "Status: "; }
.metadata .summary:before    { content: "Summary: "; }
.metadata .time:before       { content: "Time: "; }
.metadata .time:before       { content: "Time: "; }
.metadata .type:before       { content: "Type: "; }
.metadata .version:before    { content: "Version: "; }

.metadata span.comment:before {
  content: " (";
}

.metadata span.comment:after {
  content: ") ";
}

.monospace {
  font-family: monospace;
  white-space: pre-wrap;
}

.navigation {
  float: right;
  list-style: none;
  margin-top: 0;
}

ol.alpha-lower { list-style-type: lower-alpha; }
ol.alpha-upper { list-style-type: upper-alpha; }
ol.number      { list-style-type: decimal; }
ol.roman-lower { list-style-type: lower-roman; }
ol.roman-upper { list-style-type: upper-roman; }

.pages {
  column-width: 13em;
  list-style: none;
}

.pages li {
  padding-left: 1em;
  text-indent: -1em;
}

pre {
  white-space: pre-wrap;
}

td {
  vertical-align: top;
}

td.center,
th.center {
  text-align: center;
}

td.left,
th.left {
  text-align: left;
}

td.right,
th.right {
  text-align: right;
}

.text,
.ticket .comment {
  margin-top: 1em;
}

th {
  text-align: left;
}

.ticket.change-group {
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 1em;
  padding: 1em;
}

.ticket .description {
  background: #ffd;
  border: 1px solid black;
  border-radius: 10px;
  padding: 1em;
}

.tickets {
  border-spacing: 0 0;
  position: relative;
}

.tickets td:last-child {
  font-family: monospace;
  width: 12em;
}

.tickets tr:nth-child(even) {
  background: #ccc;
}